h2.main {
    color: red;
    border-bottom: 1px solid orange;
}

#h2_title {
  color: blue;
}

[type="submit"] {
    padding: 10px;
}

#contacts {
    padding: 10px;
    border: 1px solid black;
    margin-top: 10%;
}